<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Change My World Now</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)

    <link href="~/Content/animation.css" rel="stylesheet" />


    <style type="text/css">
        .ai_background {
            background-color: #7829bb;
            width: 622px;
            padding: 3px;
            position:absolute;
        }

        .ai-margin {
            margin: 3px;
        }

        .custom-font {
            font-family: 'cmwn';
        }

        .game-title {
            font-size: 42px;
            color: white;
        }

        .game-text {
            font-size: 28px;
            color: white;
        }

        .bkg-image img {
            width: 616px;
        }

        .text-left {
            margin: 5px;
        }

        .button-close {
            width: 100px;
            height: 40px;
            background: #7829bb;
            text-align: center;
            margin-left: 139px;
            margin-top: 250px;
        }

        .button-close a {
            font-size: 18px;
            color: #ffffff;
        }
        .modal-backdrop{
            background-color: #7829bb;           
            opacity: .2;
            filter: alpha(opacity=20);
            width: 100%;
            height: 100%;
            position: absolute;
            margin: 0 auto;
        }
        .fade .in{
            position:absolute;
        }


        .modal-open .modal {
            overflow-x: hidden;
            overflow-y: hidden;
        }


        .purple-button {
            width: 180px;
            height: 32px;
            margin: 0px 0 0;
            padding: 8px 3px 3px 5px;
            background-color: #7829bb;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
        }

        .green-button {
            width: 180px;
            height: 32px;
            margin: 0px 0 0;
            padding: 8px 3px 3px 5px;
            background-color: #58CC20;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
        }

        .button-text a{
            font-size: 20px;
            color: white;
        }
        .button-padding{
            padding: 0px 50px 0px 50px;
        }

        .flip-off img {
    position: absolute;
    -webkit-transition: opacity 0s ease-in-out;
    -moz-transition: opacity 0s ease-in-out;
    -o-transition: opacity 0s ease-in-out;
    transition: opacity 0s ease-in-out;
   }

  .flip-off img:hover {
    position: absolute;
    opacity: 0;
   }

  .close-Btn {
    margin-top: 10px;
    z-index: 10;
    left: 580px;
    position: absolute;
}
    </style>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.close-Btn').click(function () {
                $('#retry-level').modal('show');
            });

           
            $('#Btn-hide1').click(function () {
                $('#retry-level').modal('hide')
            });
         

        });
    </script>

</head>
<body>

    <div class="container body-content">
        <div class="col-md-12 ai_background">
            <div class="row">

                <div class="col-md-12 custom-font game-title">
                    <div class=" text-left">
                        <img style="width:72px; height:72px;margin-bottom:3px;" src="~/Content/images/gameicon.png" />
                        SEND A SMILE
                    </div>
                    
                    

                    <div class="col-md-2 text-right">
                        <div class="row">
                            <div class="col-md-12">
                                <span style="font-size:18px;">@ViewBag.UserName</span>
                            </div>
                        </div><!--end row-->
                    </div><!--end text-right-->

                </div><!--end custom-font game title-->
                @RenderBody()

                <div class="col-md-12 bkg-image">
                    <img src="~/Content/images/BKG_1.png" />
                </div><!-- end bkg-image-->



                    <div class="modal fade" id="game-info" tabindex="-1" role="dialog" aria-labelledby="actionCompleteLabel" aria-hidden="false" style="z-index:999;position:absolute;">
                        <div class="modal-dialog" style="margin-top: 207px;  margin-left: 85px;">
                            <div class="modal-content" style="width:420px; height:315px;">
                                <div class="blue-border" style="margin-left:-5px; margin-top:-7px; width:430px; height:325px;">
                                    <div class="modal-body custom-font modal-text">

                                        <div class="second-slide">
                                            <h1>Close Modal</h1>


                                        </div><!--end second-slide-->
                                        <div class="purple-button text-center custom-font button-text button-padding">

                                            <a href="#">Close</a>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="pop-up" tabindex="-1" role="dialog" aria-labelledby="actionCompleteLabel" aria-hidden="false" style="z-index:999;position:absolute;">
                        <div class="modal-dialog" style="margin-left: 193px;margin-top: 207px;  margin-left: 85px;">
                            <div class="modal-content" style="width:420px; height:315px;">
                                <div class="blue-border" style="margin-left:-5px; margin-top:-7px; width:430px; height:325px;">
                                    <div class="modal-body custom-font modal-text">

                                        <div class="second-slide">
                                            <h1>Load Modal</h1>


                                        </div><!--end second-slide-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="level-complete" tabindex="-1" role="dialog" aria-labelledby="actionCompleteLabel" aria-hidden="false" style="z-index:999;position:absolute;">
                        <div class="modal-dialog" style="margin-left: 193px;margin-top: 207px;  margin-left: 85px;">
                            <div class="modal-content" style="width:420px; height:315px;">
                                <div class="blue-border" style="margin-left:-5px; margin-top:-7px; width:430px; height:325px;">
                                    <div class="modal-body custom-font modal-text">

                                        <div class="second-slide">
                                            <h1>Game Complete</h1>


                                        </div><!--end second-slide-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="retry-level" tabindex="-1" role="dialog" aria-labelledby="actionCompleteLabel" aria-hidden="false" style="z-index:999;position:absolute;">
                        <div class="modal-dialog" style="margin-top: 173px;  margin-left: 98px;">
                            <div class="modal-content" style="width: 431px;	height: 241px; -moz-border-radius: 100px / 50px; -webkit-border-radius: 100px / 50px; border-radius: 179px / 104px;">
                                <div class="blue-border" style="margin-left:125px; margin-top:-7px; width:430px; height:325px;">
                                    <div class="modal-body custom-font modal-text">

                                        <a href="~/ActionItem/AI1">
                                            <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Buttons/btn_yes_on.png" class="img-responsive" alt="Responsive image" style="width: 150px; margin-left: -76px; position: absolute; z-index: 8; margin-top: 133px;"></div>
                                            <div class="flip-off" style="z-index:9;"><img src="~/Content/images/Buttons/btn_yes.png" class="img-responsive" alt="Responsive image" style=" width: 150px; position: absolute; margin-left: -76px; z-index: 9; margin-top: 132px;"></div>
                                        </a>

                                        <div id="Btn-hide1">
                                            <div class="flip-on" style="z-index:10;"><img src="~/Content/images/Buttons/btn_no_on.png" class="img-responsive" alt="Responsive image" style="width: 150px; margin-left: 91px; position: absolute; z-index: 8; margin-top: 131px;"></div>
                                            <div class="flip-off" style="z-index:9;"><img src="~/Content/images/Buttons/btn_no.png" class="img-responsive" alt="Responsive image" style=" width: 150px; position: absolute; margin-left: 91px; z-index: 9; margin-top: 130px;"></div>
                                        </div>

                                        <div class="second-slide" style=" position: absolute; margin-top: 55px; margin-left: 95px; width: 311px; text-align: center;">
                                            <h2 style=" width: 297px; margin-top: -28px; font-size: 34px;  margin-left: -170px; font-family: CMWN; color: #2cc4f4;">
                                                Are you sure you want to quit?
                                            </h2>
                                        </div><!--end second-slide-->
                                        <img src="~/Content/images/Headers/frame_2.png" style=" width: 516px; margin-left: -182px; margin-top: -53px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div><!--end row-->

        </div><!--end ai_background-->
    </div><!--end container body-content-->













</body>
</html>
